fastapi==0.110.2
uvicorn[standard]==0.29.0
python-multipart==0.0.9
requests==2.31.0
opencv-python==4.9.0.80
pillow==10.3.0
facenet-pytorch==2.5.3
scikit-learn==1.4.2
pymongo==4.6.3
python-dotenv==1.0.1
torch>=2.2.2
numpy>=1.26.4
